* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5b5bb9;
}

.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.header {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

.block {
    background-color: #babaf5;
    border: 6px solid #3f3585;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

button {
    margin-top: 10px;
    background-color: #cfcff1;
    height: 40px;
    width: 120px;

    border-radius: 10px;
    border: 2px solid #747494;
}

button:hover {
    cursor: grab;
    background-color: #9090be;
}

.text-area {
    margin: 10px;
    color: white;
}

#logout-text {
    text-decoration: none;
    color: white;
}

.card {
    margin-bottom: 10px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 3px;
}