<!DOCTYPE html>
<html lang="en">
<head>
    <title>TodoTodo</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/basic.js"></script>
</head>
<body>
<div class="container">

    <div id="login-true" style="display: none">
        <div class="header"><h2>ToDo-todo</h2></div>
        <a id="logout-text" href="javascript:logout()">
            로그아웃
        </a>
    </div>

    <div id="login-false">
        <div id="header-title-select-shop">
            todotodo
        </div>
        <a id="sign-text" href="/user/signup">
            회원가입
        </a>
        <a id="login-text" href="/user/login-page">
            로그인
        </a>
    </div>

    <div class="area-write">
        <textarea class="field" placeholder="일정 제목을 입력해주세요" name="title" id="title" cols="10"
                      rows="1"></textarea>
        <textarea class="field" placeholder="일정 내용을 입력해주세요" name="content" id="content" cols="30"
                  rows="1"></textarea>
        <button onclick="writePost()"> 제출하기 </button>
    </div>

    <div id="detail-box" class="area-details">

    </div>

    <div id="cards-box" class="area-read">

    </div>

</div>
</body>
</html>


